# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science.
* List libraries used by Data Scientists.

Some of the popular languages that Data Scientists use are:

1. Python
1. SQL
1. R

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
1. SciPy
1. NumPy
1. Pandas

| Data Science Tools |
| -----------------  |
| RStudio            |
| Apache Spark       |
| TensorFlow         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
 Md Sahil